.eg-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.eg-main {
  max-height: 480px;
}

.eg-wrapper {
  background-color: #edecec;
  border: 1px solid #d9d9d9;
  box-shadow: inset 0 0 3px #f7f7f7;
  height: 385px;
  width: 100%;
  overflow: hidden;
}

.eg-wrapper img {
  width: 100%;
}

.eg-preview {
  margin-bottom: 10px;
  text-align:center;
}

.preview {
  margin:0 auto;
  /*margin-bottom: 15px;*/
  overflow: hidden;
  background: #f7f7f7;
  border: 1px solid #d9d9d9;
}

.preview-lg {
  width: 110px;
  height: 165px;
}


.eg-data .input-group {
  width: 100%;
  margin-bottom: 10px;
  text-align:center;
}

.eg-data .input-group-addon {
  min-width: 40px;
}

.eg-button > .btn {
    min-width:75px;
}

.eg-input .input-group {
  margin-bottom: 10px;
}

.eg-output .btn {
  margin-right: 15px;
  margin-bottom: 15px;
}

.eg-output img {
  max-height: 214px;
}
